.MyCourses {


     .link{
        width:400px;
        padding:0;
        margin:0;
        border:1px solid black;
        ;
     
      .Card {

        margin: 0.8rem 0.1rem;
        padding: 0;
        background-color: aqua;
        border:1px solid black;
        border-radius: 10px; 
        cursor: pointer;

      
        .CardImg img {
          max-width: 230px;
          
          max-height: 125px;
          border-radius: 10px 10px 0 0;
          height: 125px;
        }
        .CardContent {
          padding: 10px;

          .CardHeader h6 {
            font-size: 16px;
            margin-bottom: 0.2rem;
            
          }
        }
        .CardContent:hover {
          background-color: $btn-bg-green;
          border-radius: 0 0 10px 10px;
        }
      }
    }
    
  
}
