
  
  .profilesidebar{
  .UserImg 
    {
  img{
    width:250px;
    height:250px;
    border-radius: 50%;
  }


  }
  .profileinfo{

    position:relative;
    right:20px;
    text-align: center;
    color:#676767;
  }
}